@import 'src/styles/variables';

.mainContainer {
  padding-bottom: 100px;

  .mainTitle {
    color: $main-color;
    font-family: $font-family;
    font-size: 35px;
    font-weight: 700;
    line-height: 51px;
    margin-bottom: 50px;
    z-index: 5;

    @media (max-width: 767.98px) {
      margin-bottom: 40px;
    }

    @media (max-width: 467.98px) {
      margin-bottom: 20px;
    }
  }
}