@import '../../styles/variables';

.cardBlogContainer {
  padding-bottom: 20px;

  .newsItemCategory {

    .newsCategoryItemImage {}

    .newsInfoContainer {
      display: flex;
      margin-top: 11px;
      margin-bottom: 4px;

      .subTitle {
        color: $second-color;
        font-size: 14px;
        line-height: 1;
        margin-right: 25px;
      }

      .data {
        color: $second-color;
        font-size: 14px;
        line-height: 1;
        margin: 0;
      }
    }

    .newsCategoryContent {
      flex-wrap: wrap;

      .mainContainer {

        .title {
          color: $main-color;
          font-family: $font-family;
          font-weight: 700;
          font-size: 26px;
          text-align: left;
          line-height: 38px;
          margin-top: 4px;
          margin-bottom: 27px;
          transition: all ease-in 0.3s;

          &:hover  {
            text-decoration: underline;
          }


          @media (max-width: 991.98px) {
            text-align: center;
            padding: 2px;
          }
        }

        .description {
          color: $main-color;
          font-family: $font-family;
          font-weight: $font-weight-main;
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 10px;

          @media (max-width: 767.98px) {
            width: 100%;
          }
        }
      }
    }

    .readingBtn {
      position: relative;
      color: $main-color;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      padding: 0;
      &:after {
        content: "";
        width: 20px;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $main-color;
        transition: width 0.28s cubic-bezier(0.47, 0, 0.745, 0.715);
      }
      &:hover {
        background-color: transparent;

        &:after {
          width: calc(100%);
        }
      }
    }
  }
}