@import 'src/styles/variables';

.shopItemCategory {
  padding-bottom: 90px;
  
  @media (max-width: 991.98px) {
    padding-bottom: 70px;
  }

  @media (max-width: 791.98px) {
    padding-bottom: 50px;
  }

  @media (max-width: 467.98px) {
    padding-bottom: 30px;
  }

  .cardCategoryItemImage {
    margin-bottom: 20px;
  }

  .cardCategoryContent {
    text-align: center;

    .title {
      margin-bottom: 2px;
      transition: all ease-in 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }

    .description {
      font-size: 14px !important;
      font-weight: $font-weight-main;
      line-height: 24px;
      color: $second-color;
    }
  }
}