@import 'src/styles/variables';

.carousel {
  width: 100%;
  height: 100%;
}

.photoSlider {
  position: relative;
  width: 100%;
  height: 100%;;
  display: flex;
  align-items: center;
  justify-content: center;

  .carouselItem {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .carouselButtons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;



    button {
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      padding: 8px;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }
}
