@import 'src/styles/variables';

.introSlider {
  height: 896px;

  @media (max-width: 991.98px) {
    height: 552px;
  }

  @media (max-width: 767.98px) {
    height: 552px;
  }

  .sliderImage {
    width: 100%;
    height: 100%;

    img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  .sliderItem{
    position: relative;
    height: 896px;

    @media (max-width: 991.98px) {
      height: 552px;
    }

    @media (max-width: 767.98px) {
      height: 552px;
    }
  }

  .indicatorContainer {
    position: absolute;
    flex-direction: column;
    bottom: 10px;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    height: 10px;
    width: 10px;
    z-index: 50;

    @media (max-width: 1400px) {
      flex-direction: row;
      bottom: 10px;
      left: 50%;
      top: 90%;
      transform: translateX(50%);
      display: flex;
    }
  }

  .indicatorIconButton {
    margin: 21px;
    background-color: #767676;
    color: #767676;

    @media (max-width: 767.98px) {
      margin: 10px;
    }

    @media (max-width: 560px) {
      margin: 5px;
    }
  }

  .activeIndicatorIconButtonProps {
    background-color: #222222;
    color: #222222;
  }

  .textContainer{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    .title {
      color: $main-color;
      font-family: $font-family;
      font-size: 70px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 4px;

      @media (max-width: 1200px) {
        font-size: 60px;
      }

      @media (max-width: 991.98px) {
        font-size: 60px;
      }

      @media (max-width: 767.98px) {
        font-size: 50px;
      }

      @media (max-width: 564px) {
        font-size: 40px;
        margin-bottom: 10px;
      }

      @media (max-width: 497.98px) {
        font-size: 35px;
        margin-bottom: 10px;
      }
    }

    .text {
      color: $main-color;
      font-family: $font-family;
      font-size: $font-size-main;
      font-weight: $font-weight-main;
      line-height: 23px;
      text-transform: uppercase;
      margin-bottom: 34px;

      @media (max-width: 564px) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  .underlineText {
    position: relative;
    padding-left: 53px;
    margin-bottom: 11px;

    &:before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: '';
      width: 40px;
      height: 2px;
      background-color: $main-color;
    }
  }
}