@import 'src/styles/variables';

.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;


  li {
    margin: 0 5px;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;

      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: $second-color;
        border-radius: 50%;
        transition: background-color 0.3s;
      }
    }

    &.slick-active button:before {
      background-color: $main-color;
    }
  }
}

