@import 'src/styles/variables';

.cardCategory {
  position: relative;
  height: 370px;
  background: #B9A16B;
  overflow: hidden;

  .cardCategoryImage {
    overflow: hidden;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cardCategoryContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    color: $white-color;
    padding: 20px;

    &.withImage {
      color: $main-color;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      & button {
        color: $main-color;
        &:after {
          background: $main-color;
        }
      }

      .title {
        color: $main-color;
      }
    }

    .underTitle {
      color: $white-color;
      font-family: $font-family;
      font-weight: $font-weight-main;
      font-size: 14px;
      line-height: 24px;
    }

    .title {
      font-family: $font-family;
      color: $white-color;
      font-weight: 700;
      font-size: 26px;
      line-height: 38px;
    }

    .button {
      position: relative;
      font-family: $font-family;
      color: $white-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      &:after {
        content: "";
        width: 60%;
        height: 2px;
        position: absolute;
        left: 8px;
        bottom: 0;
        background: $white-color;
        transition: width 0.28s cubic-bezier(0.47, 0, 0.745, 0.715)
      }

      &:hover {
        background-color: transparent;
        &:after {
          width: calc(100% - 16px);
        }
      }
    }
  }
}