@import 'src/styles/variables';

.arrowContainer {
  justify-content: space-between;

  @media (max-width: 991.98px) {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 767.98px) {
    .textArrow {
      display: none;
    }
  }

  .linkArrowPrev {
    display: flex;
    align-items: center;
  }

  .linkArrowNext {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .titleArrow {
    color: $second-color;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .textArrow {
    color: $main-color;
    font-family: $font-family;
    font-weight: $font-weight-main;
    font-size: 14px;
    line-height: 24px;
  }
}