@import 'src/styles/variables';

.textOne {
  color: $main-color;
  font-family: $font-family;
  font-weight: $font-weight-main;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 60px;

  @media (max-width: 991.98px) {
    margin-bottom: 50px;
  }

  @media (max-width: 767.98px) {
    margin-bottom: 30px;
  }

  @media (max-width: 467.98px) {
    margin-bottom: 25px;
  }
}

.textTwo {
  color: $main-color;
  font-family: $font-family;
  font-weight: $font-weight-main;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 50px;

  @media (max-width: 991.98px) {
    margin-bottom: 40px;
  }

  @media (max-width: 767.98px) {
    margin-bottom: 30px;
  }

  @media (max-width: 467.98px) {
    margin-bottom: 25px;
  }
}
