@import 'src/styles/variables';

.cartSummaryContainer {
  border: 1px solid $main-color;
  background-color: $white-color;

  .cartMainTitle {
    text-transform: uppercase;
    color: $main-color;
    font-size: $font-size-main;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 35px;
  }

  .subTitle {
    color: $main-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 13px;
  }

  .divider {
    background: $second-color;
    height: 1px;
  }

  .textContent {
    display: flex;
    justify-content: space-between;
  }

  .btnCheck {
    background: $main-color;
    color: $white-color;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $background-color-Input;
    }
  }
}