@import 'src/styles/variables';

.nameInput {}

.infoInput {

  .subTitle {
    color: $main-color;
    font-size: $font-size-main;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 30px;
  }

  .saveChangesButton {
    background: $main-color;
    color: $white-color;
    padding: 21px 100px;
    margin-top: 23px;
    margin-bottom: 70px;
    transition: all 0.3s ease-out;

    @media (max-width: 767.98px) {
      margin-bottom: 50px;
    }

    &:hover {
      background-color: $background-color-Input;
    }
  }
}