@import 'src/styles/variables';

.accountDetailContainer {

  .mainTitle {
    color: $main-color;
    font-size: 35px;
    font-weight: 700;
    line-height: 51px;
    text-transform: uppercase;
    margin-bottom: 37px;

    @media (max-width: 767.98px) {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  .contentContainer {
    padding-top: 16px;
  }
}