@import 'src/styles/variables';

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 32px;
  max-width: 800px;
  width: 100%;
  outline: none;
}

.closeButton {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.sectionTitle {
  margin-top: $font-size-main;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.gridLabel {
  font-weight: bold;
  text-align: left;
}

.gridValues {
  text-align: center;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
