@import 'src/styles/variables';

.tabsLink {
  margin-bottom: 60px;
  transition: all ease-in-out 0.3s;

  :global {
    .Mui-selected {
      color: $main-color;
    }

    .MuiTabs-flexContainer {
      flex-wrap: wrap;
      justify-content: center;
    }

    .MuiTabs-indicator {
      background-color: $main-color;
    }

    @media (max-width: 767.98px) {
      .MuiTabs-indicator {
        display: none;
      }
    }
  }

  @media (max-width: 467.98px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.centerContent {

  .title {
    align-items: center;
    display: flex;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .description {
    font-size: 14px;
    font-weight: $font-weight-main;
    font-family: $font-family;
    color: $main-color;
    line-height: 30px;

    a:hover {
      text-decoration: underline;
    }
  }
}

.bottomContainer {

  .titleBottom {}

  .textBottom {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: rgb(196, 196, 196);
    }
  }
}

.textBottomRight {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    border-radius: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    background: rgb(196, 196, 196);
  }
}
