@import '../../styles/variables';

.categoriesContainer {
  padding: 0 10px;

  .categoriesArrow {
    color: $main-color;
  }

  .categoriesTitle {
    color: $main-color;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 13px;
  }

  .categoryContainer {
    display: flex;

    .categoryItem {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }

    .categoryLinkContainer {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      .categoryLink {
        color: $main-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}