@import '../../styles/variables';

.colorsContainer {
  padding: 0 10px;

  .colorsArrow {
    color: $main-color;
  }

  .colorsTitle {
    color: $main-color;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 13px;
  }

  .colorsRadioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .colorsRadioGroup {
      display: flex;
      gap: 10px;

      .colorsFormRadio {
        padding-left: 20px;

        .colorsRadioItem {
          display: flex;
          align-items: center;

          .colorsRadio {
          }

          .labelControl {
            width: 16px;
            height: 16px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}