@import '../../styles/variables';

.filteredContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .filterIcon {
    color: $main-color;
  }

  .filterText {
    color: $main-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }


}

.mainContainer {

  .titleContainer {
    padding: 33px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF9F8;
    height: 82px;
    margin-bottom: 38px;

    .title {
      color: $main-color;
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
      text-transform: uppercase;

      @media (max-width: 990px) {
        font-size: 18px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    .closeIcon {
      color: $main-color;
    }
  }
}