@import '../../styles/variables';

.sizesContainer {
  padding: 0 10px;

  .sizesArrow {
    color: $main-color;
  }

  .sizesTitle {
    color: $main-color;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 13px;
  }

  .sizesBtnContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    .btnSizes {
      width: 58px;
      height: 35px;
      padding: 1px 21px;
      border: 1px solid $text-color-footer;
      background-color: transparent;
      color: $main-color;
      transition: all ease-in-out 0.3s;

      &:hover {
        background-color: $main-color;
        color: $white-color;
      }
    }

    .activeSize {
      border: 1px solid rgb(34, 34, 34);
      background-color: $background-color-Input;
      color: $white-color;
    }
  }
}