@import "src/styles/reset";
@import "src/styles/helpers";
@import "src/styles/override.scss";

body {
  height: 100%;
  background: $white-color;
}

#root, .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

footer {
  margin-top: auto;
  flex-shrink: 0;
}

.container {
  max-width: 1408px;
  margin: 0 auto;
}

.ls{
  background: $white-color;
  h1,h2,h3,h4,h5,h6 {
    color: $main-color;
  }
}

.ds{
  background: $main-color;
  h1,h2,h3,h4,h5,h6 {
    color: $white-color;
  }
  p {
    color: $text-color-footer;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $main-color;
  font-family: $font-family;
  line-height: 1;
}

h1 {
  font-size: 70px;
  font-weight: 700;
}

h2 {
  font-size: 60px;
  font-weight: 700;
}

h3 {
  font-size: 35px !important;
  font-weight: 700  !important;
}

h4 {
  font-weight: 700;
  font-size: 26px;
}

h5 {
  font-size: $font-size-main;
  font-weight: 500;
}

h6 {
  font-size: $font-size-main !important;
  font-weight: $font-weight-main !important;
}

img {
  width: 100%;
  max-width: 100%;
}

p {
  color: $main-color;
  font-size: 14px;
  font-family: $font-family;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.tabsLink {
  margin-bottom: 60px;
  transition: all ease-in-out 0.3s;

  :global {
    .Mui-selected {
      color: $main-color;
    }

    .MuiTabs-flexContainer {
      flex-wrap: wrap;
      justify-content: center;
    }

    .MuiTabs-indicator {
      background-color: $main-color;
    }

    @media (max-width: 767.98px) {
      .MuiTabs-indicator {
        display: none;
      }
    }
  }

  @media (max-width: 467.98px) {
    display: flex;
    flex-wrap: wrap;
  }
}