@import "src/styles/variables";

.header {
  padding-bottom: 30px;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;

  &__container {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: start;
      max-width: 1408px;
      width: 100%;
      z-index: 1000;
      padding: 0 20px;

      @media (max-width: 520px) {
        padding: 0 10px;
      }
    }

    &__logo {
      width: auto;
      height: auto;
      margin-right: 60px;
      &:hover {
        background-color: transparent;
      }

      @media (max-width: 520px) {
        margin-right: 15px;
        margin-left: 10px;
        width: 90px;
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      gap: 37px;
      flex-grow: 1;

      @media (max-width: 1200px) {
        gap: 0;
      }

      @media (max-width: 991.98px) {
        font-size: 12px;
      }
      @media (max-width: 950px) {
        display: none;
      }
      }

    &__button {
      position: relative;
      color: $main-color;
      font-family: $font-family;
      font-size: $font-size-main;
      font-weight: 500;
      line-height: 24px;
      text-transform: uppercase;

      &:after {
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $main-color;
        transition: width 0.28s cubic-bezier(0.47, 0, 0.745, 0.715);
      }

      &:hover {
        background-color: transparent;

        &:after {
          width: calc(100% - 2px);
        }
      }

      @media (max-width: 1200px) {
        margin-right: 30px;
        font-size: 12px;
      }
    }

    &__list {
      margin-top: 5rem;
      gap: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    &__icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      @media (max-width: 950px) {
        justify-content: space-between;
        width: 100%;
      }

      @media (max-width: 520px) {
        gap: 3px;
      }
    }

    &__icon {
      &:hover {
        background-color: transparent;
        color: $main-color;
      }

      @media (max-width: 950px) {
        flex-grow: 1;
        display: flex;
        justify-content: center;
      }

      .badgeIcon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__burgerMenu {
      display: none;

      @media (max-width: 950px) {
        display: block;
      }

      @media (max-width: 520px) {
        font-size: 14px;
      }
    }

  &__list {
    margin-top: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .drawerHeader {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    background-color: white;
  }

  .closeButton {
    color: $main-color;
    font-size: 24px;
    padding: 10px;
  }
}
