@import '../../styles/variables';

.orderTableContainer {
  border-radius: 10px;

  .orderTableHeader {
    background-color: $text-color-footer;

  .orderTableHeadTitle {
    color: $main-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  }

  .orderTableBody {

    .orderTableBodyID {
      color: $main-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;

      &:hover {
        color: $background-color-gray;
        text-decoration-line: underline;
      }
    }

    .orderTableBodyText {
      color: $main-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    .orderTableBodyBtn {
      background: $main-color;
      color: $white-color;
      padding: 11px 50px;
      transition: all 0.3s ease-out;

      @media (max-width: 767.98px) {
        margin-bottom: 50px;
      }

      &:hover {
        background-color: $background-color-Input;
      }
    }
  }
}