@import '../../styles/variables';

.paymentMethods {

  .paymentMethodsTitle {
    color: $second-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .paymentMethodContainer {

    .paymentMethodLabel {
      color: $main-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 10px;

      .ratio {
        color: $main-color;
      }
    }

    .paymentMethodDescription {
      color: $main-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}