@import 'src/styles/variables';

.itemTabs {
  margin-bottom: 50px;

  :global {
    .Mui-selected {
      color: $main-color;
    }

    .MuiTabs-flexContainer {
      flex-wrap: wrap;
      justify-content: center;
    }

    .MuiTabs-indicator {
      display: none;
    }
  }

  @media (max-width: 467.98px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.slickSlide {
  position: relative;
  padding: 0 10px;
}

.slickList {
  margin: 0 -10px;
}

.cardShopCategory {
  position: relative;

  &:hover {
    .cardShopCategoryImage {
      .viewPriceButton {
        opacity: 1;
      }
      .frontImage {
        opacity: 0;
      }
      .backImage {
        opacity: 1;
      }
    }
  }

  &:after {
    background-color: $main-color;
    color: $white-color;
    position: absolute;
  }

  .badgeContent {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 20px;
    z-index: 200;
    padding: 12px;
    width: 55px;
    height: 30px;
    background-color: $white-color;
    color: $main-color;

    .badge {
    }
  }

  .favoriteIcon {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 200;
    margin: 12px;
    background-color: $white-color;
    border-radius: 50%;
    text-align: center;
    transition: all ease-in 0.3s;

    .favoriteButton {

      &:hover {
        background-color: $background-color-sale;
        color: $white-color;
      }
    }
  }

  .cardShopCategoryImage {
    margin-bottom: 12px;
    position: relative;
    object-fit: cover;

    .frontImage {
      opacity: 1;
      transition: all ease-in 0.3s;
    }

    .backImage{
      transition: all ease-in 0.3s;
      opacity: 0;
      position: absolute;
      top: 0;
    }

    .viewPriceButton {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: all ease-in 0.1s;

      .buttonInfoCart {
        background: $main-color;
        width: 50%;
        border-radius: 0;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: $white-color;

        &:hover {
          color: $white-color;
          text-decoration: underline;
        }
      }
    }
  }

  .cardCategoryContent {

    .title {
      font-family: $font-family;
      font-weight: $font-weight-main;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #B9A16B;
      margin-bottom: 2px;
    }

    .description {
      font-family: $font-family;
      font-weight: $font-weight-main;
      font-size: $font-size-main;
      line-height: 23px;
      color: $main-color;
      margin-bottom: 4px;
      transition: all ease-in 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }

    .priceGroup {
      display: flex;

      .price {
        font-family: $font-family;
        font-weight: $font-weight-main;
        font-size: $font-size-main;
        line-height: 23px;
        margin-right: 4px;
        text-decoration: line-through;
        color: $second-color;
      }

      .salePrice {
        color: $background-color-sale;
      }
    }
  }
}


