@import 'src/styles/variables';

.companyContent {

  .imageBottom {
    margin-right: 22px;
    margin-bottom: 100px;
    object-fit: cover;

    @media (max-width: 991.98px) {
      margin-bottom: 50px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }

  .titleCompany {
    color: $second-color;
    font-family: $font-family;
    font-size: $font-size-main;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 9px;
  }

  .textCompany {
    color: $main-color;
    font-family: $font-family;
    font-weight: $font-weight-main;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 36px;
  }

  .textTwoCompany {
    color: $main-color;
    font-family: $font-family;
    font-weight: $font-weight-main;
    font-size: 14px;
    line-height: 30px;
  }
}