@import 'src/styles/variables';

.aboutContainer {
  margin-bottom: 58px;

  .mainTitle {
    margin-bottom: 50px;

    @media (max-width: 991.98px) {
      margin-bottom: 10px;
    }
  }

  .imageTop {
    object-fit: cover;
  }

  .infoContent {
    align-items: center;
    justify-content: center;

    .aboutTitle {
      color: $main-color;
      font-family: $font-family;
      font-size: 26px;
      font-weight: 500;
      line-height: 38px;
      margin-bottom: 15px;

      @media (max-width: 991.98px) {
        margin-bottom: 10px;
      }
    }

    .aboutOneText {
      color: $main-color;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .aboutTwoText {
      color: $main-color;
      font-family: $font-family;
      font-weight: $font-weight-main;
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 33px;
    }
  }
}