@import 'src/styles/variables';

.slickSlide {
  position: relative;
  padding: 0 10px;
}

.slickList {
  margin: 0 -10px;
}

.newsItemCategory {

  .newsCategoryItemImage {
  }

  .newsCategoryContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title-data {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 4px;

      .title {
        color: $second-color;
        font-size: 14px;
        line-height: 1;
        margin: 0;
        margin-right: 25px;
      }

      .data {
        color: $second-color;
        font-size: 14px;
        line-height: 1;
        margin: 0;
      }
    }

    .description {
      font-family: $font-family;
      font-weight: $font-weight-main;
      color: $main-color;
      font-size: 18px;
      line-height: 1;
      margin-top: 4px;
      text-align: left;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      text-transform: none;
      transition: all ease-in 0.3s;

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }
}
