@import '../../styles/variables';

.cardShopContainer {
  position: relative;

  .favoriteIcon {
    position: absolute;
    right: 18px;
    bottom: 40px;
    z-index: 200;
    background-color: $white-color;
    border-radius: 50%;
    text-align: center;
    transition: all ease-in 0.3s;

    .favoriteButton {

      &:hover {
        background-color: $background-color-sale;
        color: $white-color;
      }
    }
  }

  .cardShopCategory {
    position: relative;

    &:hover {
      .cardShopCategoryImage {

        .viewPriceButton {
          opacity: 1;
        }
        .frontImage {
          opacity: 0;
        }
        .backImage {
          opacity: 1;
        }
      }
    }

    &:after {
      background-color: $main-color;
      color: $white-color;
      position: absolute;
    }

    .cardShopCategoryImage {
      overflow: hidden;
      object-fit: cover;
      margin-bottom: 12px;
      position: relative;
      height: 300px;

      .frontImage,
      .backImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all ease-in 0.3s;
      }

      .frontImage {
        object-fit: cover;
        opacity: 1;
        transition: all ease-in 0.3s;
      }

      .backImage{
        object-fit: cover;
        transition: all ease-in 0.3s;
        opacity: 0;
        position: absolute;
        top: 0;
      }

      .viewPriceButton {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 20px;
        right: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in;

        .buttonInfoCart {
          background: $white-color;
          color: $main-color;
          width: 90%;
          border-radius: 0;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          transition: background-color 0.3s ease-in, color 0.3s ease-in;

          &:hover {
            background-color: $background-color-Input;
            color: $white-color;
          }
        }
      }
    }

    .cardCategoryContent {
      flex-grow: 1;

      .title {
        font-family: $font-family;
        font-weight: $font-weight-main;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: $second-color;
        margin-bottom: 2px;
      }

      .description {
        font-family: $font-family;
        font-weight: $font-weight-main;
        font-size: $font-size-main;
        line-height: 23px;
        color: $main-color;
        margin-bottom: 4px;
        position: relative;

        :hover {
          text-decoration: underline;
        }
      }

      .priceGroup {
        display: flex;

        .price {
          font-family: $font-family;
          font-weight: $font-weight-main;
          font-size: $font-size-main;
          line-height: 23px;
          text-decoration: line-through;
          color: $second-color;
        }

        .salePrice {
          margin-right: 4px;
          color: $background-color-sale;
        }
      }
    }
  }
}






