@import 'src/styles/variables';

.mapContainer {
  position: relative;
  width: 100%;
  height: 500px;
  border: none;
  margin-bottom: 60px;
  padding: 0 10px;

  @media (max-width: 767.98px) {
    margin-bottom: 40px;
  }

  @media (max-width: 467.98px) {
    margin-bottom: 20px;
  }
}

.mapIframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
