@import 'src/styles/variables';

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%;
  align-items: center;

  .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    width: 100%;
    @media (min-width: 767.98px) {
      width: 30%;
    }
  }

  .text {
    font-size: 14px;
    font-weight: $font-weight-main;
    font-family: $font-family;
    color: $main-color;
    margin-bottom: 16px;
    width: 100%;
    @media (min-width: 767.98px) {
      width: 70%;
    }
  }
}
