@import 'src/styles/variables';

.cartCheckPageContainer {

  .cartTitle {
    color: $main-color;
    font-size: 35px;
    font-weight: 700;
    line-height: 51px;
    text-transform: uppercase;
    margin-bottom: 57px;

    @media (max-width: 991.98px) {
      font-size: 30px;
    }

    @media (max-width: 767.98px) {
      font-size: 25px;
    }
  }

  .cartsubTitle {
    color: $main-color;
    font-size: $font-size-main;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 37px;

    @media (max-width: 991.98px) {
      text-align: center;
      margin-top: 20px;
    }
  }

  .formContainer {

    .nameInput {
      margin-bottom: 13px;
    }

    .infoInput {
      margin-bottom: 100px;

      @media (max-width: 991.98px) {
        margin-bottom: 0;
      }

      .optionalInput {
      }

      .formCheckbox {

        .customCheckbox {
          .MuiCheckbox-root {
            color: red;
          }

          .Mui-checked {
            color: green;
          }
        }
      }
    }
  }

  .placeOrderButton {
    width: 100%;
    background: $main-color;
    color: $white-color;
    padding: 21px 50px;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $background-color-Input;
    }
  }
}