@import 'src/styles/variables';

.confirmEmailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;

  .subTitle {
    text-align: center;
    color: $main-color;
    margin-bottom: 10px;
  }

  .mainTitle {
    text-align: center;
    color: $background-color-verify;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 767.98px) {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  .token {
    text-align: center;
    color: red;
  }
}