@import 'src/styles/variables';

.uploadContainer {

  .btnUpload {
    width: 100%;
    background: $background-color-upload;
    color: $white-color;
    padding: 10px 40px;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $background-color-upload-hover;
    }
  }
}

.titleFiles {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.files {
  width: 100%;
  border: 1px solid $white-color;
  border-radius: 8px;
  padding: 8px;
  position: relative;

  .imgFiles {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .textUpload {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .removeBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: $background-color-delete;
    color: $white-color;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $background-color-delete-hover;
    }
  }
}

